# Main Jupyter Notebook

## Data preparation

In [1]:
from importnb import imports
with imports("ipynb"):
    from common.functions import (
        load_dataset,
        load_parameters,
        clean_up_dataset,
        print_feature_outliers,
        remove_outliers,
        generate_numerical_eda_visualization,
        generate_numerical_heatmap,
    )

In [2]:
parameters = load_parameters(".")
print(parameters)

{'load_dataset_parameters': {'dataset_location': 'dataset', 'datasets_to_load': ['resale-flat-prices-based-on-registration-date-from-jan-2017-onwards']}, 'include_features': ['price', 'num_subscribers', 'avg_rating', 'num_lectures', 'content_length_min', 'instructor_name'], 'clean_up': {'price': 10, 'num_subscribers': 0}, 'categorical_count_visualization': ['category']}

In [3]:
DatasetRaw = load_dataset(parameters['load_dataset_parameters'])
DatasetRaw.info()
DatasetRaw.head(5)

dataset to load: resale-flat-prices-based-on-registration-date-from-jan-2017-onwards
load_dataset size: 1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152892 entries, 0 to 152891
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                152892 non-null  datetime64[ns]
 1   town                 152892 non-null  category
 2   flat_type            152892 non-null  category
 3   block                152892 non-null  string
 4   street_name          152892 non-null  string
 5   storey_range         152892 non-null  category
 6   floor_area_sqm       152892 non-null  int64
 7   flat_model           152892 non-null  category
 8   lease_commence_date  152892 non-null  int64
 9   remaining_lease      152892 non-null  object
 10  resale_price         152892 non-null  int64
dtypes: category(4), datetime64[ns](1), int64(3), object(1), string(2)
memory usage: 8.8+ MB

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44,Improved,1979,61 years 04 months,232000
1,2017-01-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67,New Generation,1978,60 years 07 months,250000
2,2017-01-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67,New Generation,1980,62 years 05 months,262000
3,2017-01-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68,New Generation,1980,62 years 01 month,265000
4,2017-01-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67,New Generation,1980,62 years 05 months,265000

## Data Cleanup

In [4]:
# CleanUpDataset = clean_up_dataset(DatasetRaw, parameters)
# CleanUpDataset.info()

In [5]:
# RemovedOutlierDataset = remove_outliers(CleanUpDataset)
# RemovedOutlierDataset.info()

## Simple Exploratory Data Analysis

In [6]:
# generate_numerical_categorical_heatmap(RemovedOutlierDataset)